@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: lightgray;
}

#sub-body {
    background-color: hsl(212, 45%, 89%);
    width: 1440px;
    height: 700px;
    margin-left: -720px;
    margin-top: -400px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 316px;
    height: 500px;
    border-radius: 20px;
    margin: 70px auto;
}

img {
    width: 280px;
    margin: 0 auto;
    display: block;
    border-radius: 30px;
    padding: 18px;
    margin-bottom: 10px;
}

.subcontainer {
    width: 257px;
    margin: auto;
}

h1,
p {
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    padding-bottom: 18px;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3rem;
}

@media only screen and (max-width: 1024px) {
    #sub-body {
        background-color: hsl(212, 45%, 89%);
        width: 500px;
        margin-left: -250px;
    }
}